* {
  margin: 0;
}
:root {
  --Background: rgba(16, 81, 144, 0.16);
  --FontData: rgba(9, 16, 25, 0.81);
  --HUDFont: rgba(36, 25, 16, 0.81);
  --Gray: rgba(225, 225, 225, 0.49);
  --DarkGray: rgba(196, 196, 196, 0.81);
  --Black: rgba(1, 2, 4, 0.81);
  --ClearBlack: rgba(1, 2, 4, 1);
  --TableHeads: #a04d16;
  --NthRows: #cd812b72;
  --Contrasting: #481216;
  --BigBorder: rgba(4, 16, 225, 0.16);
  --Orange: rgba(225, 144, 16, 0.81);
}
body {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 256;
  color: var(--Black);
  background-color: var(--Background);
}

section.StyleContainer {
  position: absolute;
  margin-left: 49vw;
  transform: translate(-16%, -25%);
  padding: 256px;
  box-shadow: -1vw -2px 4px var(--BigBorder);
  border-radius: 256px;
}

section {
  padding-top: 16px;
}
section.Pivot {
  position: absolute;
  padding: 0;
  margin-left: 1px;
  margin-bottom: 4px;
  margin-right: 9px;
  margin-top: 16px;
  color: var(--FontData);
}
.Pivot p {
  padding: 0;
}
section.Indent {
  position: relative;
  margin-left: 16px;
  margin-bottom: 16px;
}
section.Relate {
  margin: 0 auto;
}

section.Intro {
  font-weight: 625;
  color: var(--HUDFont);
  border-left: 0.02px solid rgba(1, 2, 4, 0.256);
}
section.Intro p {
  margin-left: 4px;
  margin-bottom: 25px;
  margin-right: 16px;
  margin-top: 9px;
}
div.zooField {
  background-color: rgba(2, 4, 16, 0.16);
  width: 256px;
}

section.Selections {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
div.FlexMessages {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}
div.NotificationMessage.L h4 {
  margin-right: 36px;
  font-weight: 625;
  border-top: 4px solid rgba(4, 16, 225, 0.16);
}
div.NotificationMessage.R h4 {
  margin-left: 36px;
  font-weight: 625;
  border-top: 4px solid rgba(225, 4, 16, 0.16);
}
section.Selections select {
  margin-left: 16px;
  margin-bottom: 25px;
  margin-right: 36px;
  margin-top: 49px;
  border: 0.04px solid rgba(1, 2, 4, 0.25);
  border-color: var(--DarkGray);
  height: 25px;
}
.extraLabelMargins {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
}
form label {
  padding-right: 16px;
  border: 1px solid var(--DarkGray);
}
section > label {
  padding-right: 16px;
  border-bottom: 4px solid rgba(2, 4, 9, 0.16);
}
section.Selections input {
  color: var(--ClearBlack);
  min-width: 144px;
  height: 25px;
}
div.FlexForms {
  display: flex;
  justify-content: space-between;
}
.FormContainer {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.AnimalEditor input {
  border: none;
  border-right: 4px solid var(--Contrasting);
  background-color: rgba(4, 16, 225, 0.16);
}
.GuestEditor input {
  border: none;
  border-left: 4px dashed var(--Contrasting);
  background-color: rgba(225, 4, 16, 0.16);
}

button:hover {
  cursor: pointer;
}
div.ButtonFlex {
  display: flex;
  align-items: center;
  max-width: 81vw;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
section.Buttons {
  padding: 16px;
  margin-bottom: 4px;
  margin-top: 16px;
}
section.Buttons button {
  margin-left: 9px;
  margin-bottom: 4px;
  margin-right: 9px;
  margin-top: 16px;
  height: 36px;
  font-weight: 256;
  border: 0.16px solid var(--Orange);
  border-radius: 1px;
  background: rgba(1, 2, 4, 0.016);
  color: var(--Black);
  min-width: 81px;
  max-width: 81px;
}
section.Buttons p {
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  margin-top: 16px;
  font-size: 25px;
  font-weight: 256;
  color: var(--ClearBlack);
  border-radius: 2px;
  background-color: rgba(2, 4, 16, 0.016);
  height: 25px;
}
section.Buttons.Animal button,
section.Buttons.Animal {
  border-right: 2px solid var(--Contrasting);
}
section.Buttons.Human button,
section.Buttons.Human {
  border-left: 2px dashed var(--Contrasting);
}

section.Buttons.BirthFunctions {
  border-right: 2px solid var(--Contrasting);
}
div.ButtonFlex button {
  margin-left: 9px;
  margin-bottom: 4px;
  margin-right: 9px;
  margin-top: 16px;
  height: 36px;
  font-weight: 256;
  border: 0.16px solid var(--Orange);
  border-radius: 1px;
  background: rgba(1, 2, 4, 0.016);
  color: var(--Black);
  min-width: 81px;
  max-width: 81px;
}

section.Table table {
  min-width: 49vw;
  margin: 0 auto;
  padding-left: 1px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-top: 9px;
  margin-bottom: 256px;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  border-collapse: collapse;
  border-left: 16px solid var(--Background);
}
section.Table thead tr {
  background: var(--TableHeads);
  margin: 0;
  padding-left: 2px;
  padding-bottom: 4px;
  padding-right: 9px;
  padding-top: 16px;
  color: var(--Black);
  text-align: left;
}
section.Table tbody tr:nth-of-type(odd) {
  background: var(--NthRows);
}
section.Table td {
  margin: 0;
  padding-left: 2px;
  padding-bottom: 16px;
  padding-right: 9px;
  padding-top: 16px;
  height: 16px;
}
